.startPage__wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.startPage__content {
  outline: 2px solid pink;
  width: 50vw;
  height: 70vh;
  text-align: center;
}
