//mobile
.alert__wrapper {
  align-items: center;
  animation: bounce-in 2500ms forwards;
  display: flex;
  flex-direction: column;
  left: 50%;
  position: fixed;
  top: 55px;
  transform: translate(-50%);
  width: 100%;
}

.alert {
  align-items: center;
  border-radius: 6px;
  color: white;
  display: flex;
  font-size: 1.8rem;
  min-width: 65vw;
  padding: 10px;
}

.alert {
  &--success {
    background: rgb(98, 196, 98);
  }
  &--failure {
    background: rgb(250, 66, 66);
  }
  &--warning {
    background: gold;
  }
  &--info {
    background: rgb(60, 60, 141);
  }
}

.alert__text {
  flex-grow: 5;
  font-size: 1.2rem;
  text-align: center;
}

@keyframes bounce-in {
  0% {
    top: -200px;
  }
  8% {
    top: 50px;
  }
  10% {
    top: 10px;
  }
  13% {
    top: 70px;
  }
  17% {
    top: 50px;
  }
  95% {
    top: 50px;
  }
  100% {
    top: -200px;
  }
}

//tablet
@media only screen and (min-width: 750px) {
  .alert {
    font-size: 4rem;
  }
  .alert__text {
    font-size: 2.5rem;
  }
}

//desktop
@media only screen and (min-width: 1000px) {
  .alert {
    font-size: 1.5rem;
    min-width: 15vw;
  }
  .alert__text {
    font-size: 1.2rem;
  }
}
