.alerts__wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50px;
  align-items: center;
  animation: bounce-in 2500ms forwards;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

.alert {
  border-radius: 6px;
  display: flex;
  flex-grow: 1;
  font-size: 1.8rem;
  padding: 10px;
  z-index: 10;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  min-width: 65vw;
}

.alert__text {
  flex-grow: 5;
  text-align: center;
  font-size: 1.2rem;
}

.alert--success {
  background: rgb(98, 196, 98);
}
.alert--failure {
  background: rgb(250, 66, 66);
}

.alert--warning {
  background: gold;
}

.alert--info {
  background: rgb(60, 60, 141);
}

.alert__icon-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}

@keyframes bounce-in {
  0% {
    top: -200px;
  }
  8% {
    top: 50px;
  }
  10% {
    top: 10px;
  }
  13% {
    top: 70px;
  }
  17% {
    top: 50px;
  }
  95% {
    top: 50px;
  }
  100% {
    top: -200px;
  }
}

//tablet
@media only screen and (min-width: 750px) {
  .alert {
    font-size: 4rem;
  }
  .alert__text {
    font-size: 2.5rem;
  }
}

//desktop
@media only screen and (min-width: 1000px) {
  .alert {
    font-size: 1.5rem;
    min-width: 15vw;
  }
  .alert__text {
    font-size: 1.2rem;
  }
}
