.alert--success,
.alert--failure {
  animation: bounce-in 2500ms forwards;
  border-radius: 6px;
  display: flex;
  flex-grow: 1;
  font-size: 1.5rem;
  left: 50%;
  margin-bottom: 15px;
  padding: 10px;
  top: 50px;
  transform: translateX(-50%);
  min-width: 20%;
  z-index: 10;
  color: white;
  justify-content: center;
  &__text {
    flex-grow: 5;
    text-align: center;
  }
}

.alert--success {
  background: #51df8c;
}
.alert--failure {
  background: rgb(250, 66, 66);
}

.alert--info {
  align-items: center;
  opacity: 0;
  animation: fade-in 350ms forwards;
  border-radius: 6px;
  display: flex;
  flex-grow: 1;
  font-size: 1.5rem;
  left: 50%;
  margin-bottom: 15px;
  padding: 10px;
  position: absolute;
  top: 1.5rem;
  transform: translateX(-50%);
  z-index: 10;
  background: gold;

  &__text {
    flex-grow: 5;
    text-align: center;
  }
}

.alert__icon-wrapper {
  position: absolute;
  flex-grow: 1;
  left: 1rem;
}

.alert__close {
  margin-left: 0.5rem;
  cursor: pointer;
}

@keyframes bounce-in {
  0% {
    top: -100px;
  }
  8% {
    top: 50px;
  }
  10% {
    top: 10px;
  }
  13% {
    top: 40px;
  }
  17% {
    top: 25px;
  }
  95% {
    top: 25px;
  }
  100% {
    top: -100px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
