//mobile
.dashboard__wrapper {
  display: flex;
  flex-direction: column;
}

.dashboard__text {
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content: space-around;
  margin-top: 5vh;
  text-align: center;
}

.dashboard__greeting {
  font-size: 2.5rem;
}

.dashboard__instruction {
  font-size: 1.5rem;
}

.dashboard__buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: space-around;
  margin-top: 10vh;
  user-select: none;
  button {
    @include button($myLilac, 1.7rem);
    &:hover {
      background: $myLilacDark;
    }
    color: white;
    min-width: 55vw;
  }
}

//tablet
@media only screen and (min-width: 750px) {
  .dashboard__wrapper {
    justify-content: center;
    align-items: center;
  }

  .dashboard__text {
    width: 80%;
  }

  .dashboard__greeting {
    font-size: 5rem;
  }

  .dashboard__instruction {
    font-size: 2.5rem;
  }

  .dashboard__buttons {
    button {
      @include button($myLilac, 2.5rem);
      min-width: 50vw;
    }
  }
}

//desktop
@media only screen and (min-width: 1000px) {
  .dashboard__wrapper {
    flex-direction: row;
  }

  .dashboard__text {
    height: 40vh;
    margin-left: 3vw;
    padding-top: 10vh;
    text-align: left;
    width: 35vw;
  }

  .dashboard__greeting {
    font-size: 4rem;
  }

  .dashboard__instruction {
    font-size: 2rem;
  }

  .dashboard__buttons {
    flex-grow: 1;
    height: 40vh;
    margin-top: 20vh;
    button {
      font-size: 3rem;
      min-width: auto;
    }
  }
}
