.definitionModal__wrapper {
  align-items: center;
  animation: fade-in 150ms linear forwards;
  background: rgba($color: #000000, $alpha: 0.7);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.definitionModal__content {
  align-items: center;
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  padding: 0.7rem;
  width: 90%;
}

.definitionModal__content > * {
  margin: 0.8rem 0;
}

.definitionModal__close {
  @include button(black, 1rem);
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem;
}

.definitionModal__play-icon {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  cursor: pointer;
}

//tablet
@media only screen and (min-width: 750px) {
  .definitionModal__content {
    font-size: 2.5rem;
  }
  .definitionModal__play-icon {
    font-size: 2.5rem;
  }
  .definitionModal__close {
    @include button(black, 2rem);
  }
}

//desktop
@media only screen and (min-width: 1000px) {
  .definitionModal__content {
    font-size: 1.6rem;
    padding: 2rem 1rem;
    width: 40%;
  }
  .definitionModal__word {
    margin-bottom: 1rem;
  }
  .definitionModal__play-icon {
    font-size: 1.3rem;
  }
  .definitionModal__close {
    @include button(black, 1rem);
  }
}
