.editor__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.editor__instruction1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin: 1rem 0;
}

.editor__word {
  margin: 0 0 0 1em;
  cursor: pointer;
}

//adding hover style like this so only applied on desktop (avoid 'sticky hover' problem on mobile)
@media (hover: hover) {
  .editor__word:hover {
    background: yellow;
  }
}

.editor__text {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3rem;
  border-radius: 6px;
  justify-content: center;
  margin: 0 auto;
  background: rgb(238, 237, 237);
  border-radius: 5px;
  padding: 10px 25px 10px 10px;
}

.editor__word--target {
  font-weight: bold;
  cursor: pointer;
}

.editor__buttons {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    @include button($mySeaBlue, 1.3rem);
    &:hover {
      background: $mySeaBlueDark;
    }
  }
}

//tablet
@media only screen and (min-width: 750px) {
  .editor__instruction1 {
    font-size: 2.3rem;
  }
  .editor__text {
    font-size: 2.3rem;
    width: 95%;
  }
  .editor__buttons {
    button {
      @include button($mySeaBlue, 2.5rem);
    }
  }
}
