.flashcardStart__wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flashcardStart__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    height: 40%;
    justify-content: space-around;
    button {
        @include button($mySeaBlue, 1.3rem);
        width: 30%;
        margin: 0 auto;
    }
}

.flashcardStart__field {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    select {
        font-size: 1.2rem;

    }
    input[type="number"] {
        width: 60px;
        font-size: 1.2rem;
        border: 1px solid rgba(0,0,0,0.5);
      }
}

@media only screen and (min-width: 1000px) {
    .flashcardStart__content {
        width: 40%;
        button {
            width: 20%;
        }
    }
    .flashcardStart__field {
        width: 70%;
    }
}