.flashcardTest__wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    button {
        @include button($mySeaBlue, 1.3rem);
        margin-top: 2rem;
        min-width: 6rem;
    }
}

.flashcardTest__progress {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
}

.flashcardTest__card {
    width: 90%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    height: 40%;
    justify-content: space-around;
    p {
         font-size: 1.5rem;
     }
}

.flashcardTest__button--back {
    margin-top: 5rem;
}

@media only screen and (min-width: 1000px) {
    .flashcardTest__card {
        width: 40%;
    }
}