.gapFill__wrapper {
  flex-grow: 1;
  display: flex;
}

.gapFill__title {
  margin: 2rem 0 0 0;
  font-size: 1.6rem;
}

.gapFill__sentence-num {
  font-weight: bold;
}

.gapFill__filled--right,
.gapFill__filled--wrong {
  border-bottom: 2px solid black;
}

.gapFill__content,
.gapFill__results {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  input {
    font-size: 1.5rem;
    width: 60vw;
    border: 1px solid #333;
  }
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.gapFill__sentence,
.gapFill__result-sentence {
  font-size: 1.3rem;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5em;
}

.gapFill__field {
  margin: 3rem 0;
}
.gapFill__word {
  user-select: none;
}

.gapFill__word,
.gapFill__input,
.gapFill__filled--right,
.gapFill__filled--wrong {
  margin-left: 0.8rem;
}

.gapFill__input {
  padding: 0 0.5rem;
}

//so there isn't a space before the full stop
.gapFill__word:last-child {
  margin-left: 0.2em;
  margin-right: 0;
}

.gapFill__word--target {
  color: blue;
}

.gapFill__submit {
  @include button($mySeaBlue, 1.3rem);
  margin: 1rem 0;
  &:hover {
    background: $mySeaBlueDark;
  }
}

.gapFill__filled--right {
  // color: green;
  font-weight: bold;
  min-width: 15vw;
}

.gapFill__filled--wrong {
  // color: red;
  font-weight: bold;
  position: relative;
  min-width: 15vw;
  cursor: pointer;
}

.gapFill__correct-answer, .gapFill__correct-message {
  font-size: 1.5rem;
  margin: 0.8rem auto;
  border: 1px solid black;
  border-radius: 6px;
  width: 90%;
}

.gapFill__correct-answer {
  background: rgb(243, 93, 93);
  span {
    font-style: italic;
    font-weight: bold;
  }
}

.gapFill__correct-message {
  background: rgb(98, 196, 98);
}

.gapFill__next {
  @include button($mySeaBlue, 1.3rem);
  margin: 1rem 0 3rem 0;
  &:hover {
    background: $mySeaBlueDark;
  }
}

@media only screen and (min-width: 1000px) {
  .gapFill__content,
  .gapFill__results {
    input {
      font-size: 1.5rem;
      width: 15vw;
    }
  }
  .gapFill__sentence,
  .gapFill__result-sentence {
    font-size: 1.5rem;
  }
}
