.matchDefinitions__options {
  display: flex;
}

.matchDefinitions__definition {
  font-style: italic;
}

.matchDefinitions__button {
  background: yellow;
  cursor: pointer;
}

.matchDefinitions__button--selected {
  background: $mySeaBlueDark;
  color: white;
  cursor: pointer;
}

.matchDefinitions__content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.matchDefinitions__title {
  margin: 0.7rem 0;
  font-size: 1.6rem;
}

.matchDefinitions__field {
  text-align: center;
  margin: 1rem 0;
}

.matchDefinitions__options {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  button {
    font-size: 1rem;
    border: none;
    outline: none;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 0.2rem 0.5rem;
  }
}

.matchDefinitions__submit {
  @include button($mySeaBlue, 1.3rem);
  margin: 1rem 0;
  &:hover {
    background: $mySeaBlueDark;
  }
}

@media only screen and (min-width: 1000px) {
  .matchDefinitions__content {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  .matchDefinitions__options {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    button {
      font-size: 1.5rem;
      border: none;
      outline: none;
      border: 1px solid black;
      border-radius: 2rem;
      padding: 0.2rem 0.5rem;
    }
  }
  .matchDefinitions__definition {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}
