.myProfile__wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
}

.myProfile__title {
  margin-top: 3rem;
}

.myProfile__list {
  list-style: none;
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  li {
    font-size: 2em;
  }
}
.myProfile__delete-account {
  @include button(red, 1.3rem);
  margin: 1rem 0;
  &:hover {
    background: rgb(218, 8, 8);
  }
}
