.myWords__wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  button {
    @include button($mySeaBlue, 1.1rem);
    &:hover {
      background: $mySeaBlueDark;
    }
  }
}

.myWords__title {
  margin: 2rem 0;
  font-size: 2.5rem;
}

.myWords__flashcard {
  margin-bottom: 1.5rem;
}

.myWords__content {
  font-size: 1.1rem;
  border-radius: 6px;
  margin-bottom: 5rem;
}

.myWords__message {
  margin-top: 5rem;
}

.myWords__word {
  font-weight: bold;
}

table,
th,
td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-collapse: collapse;
}

td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: white;
}

//tablet
@media only screen and (min-width: 750px) {
  .myWords__title {
    font-size: 3.5rem;
  }
  .myWords__wrapper {
    button {
      @include button($mySeaBlue, 2rem);
    }
  }
  .myWords__content {
    font-size: 2rem;
  }
}

//desktop
@media only screen and (min-width: 1000px) {
  .myWords__title {
    font-size: 2.5rem;
  }
  .myWords__wrapper {
    button {
      @include button($mySeaBlue, 1.1rem);
    }
  }
  .myWords__content {
    font-size: 1.1rem;
  }
}
