.reader__word {
  margin: 0 0 0 1em;
}

.reader__content {
  text-align: center;
}

.reader__text {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3rem;
  border-radius: 6px;
  justify-content: center;
  margin: 0 auto;
  //for some reason there's a bit of a margin down the left side of the text so need padding right to center text
  padding-right: 15px;
}

.reader__word--target {
  font-weight: bold;
  cursor: pointer;
  &:hover {
    color: green;
  }
}

.reader__title {
  margin: 1rem auto;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  padding: 0.5rem 0;
}

.reader__exercises-button {
  @include button($mySeaBlue, 1.3rem);
  margin: 1rem 0 5rem 0;
  &:hover {
    background: $mySeaBlueDark;
  }
}

//tablet
@media only screen and (min-width: 750px) {
  .reader__title {
    font-size: 3rem;
  }
  .reader__text {
    width: 95%;
    font-size: 2.5rem;
  }

  .reader__word {
    margin: 0 0 0 0.8em;
  }

  .reader__exercises-button {
    @include button($mySeaBlue, 2.5rem);
    margin: 2rem 0 5rem 0;
  }
}

//desktop
@media only screen and (min-width: 1000px) {
  .reader__text {
    font-size: 1.6rem;
  }
}
