.results__wrapper {
  display: flex;
  flex-grow: 1;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.results__title {
  margin-top: 3rem;
}

.results__info {
  font-size: 2rem;
  margin: 0 1rem;
}
.results__button {
  @include button($mySeaBlue, 1.3rem);
  margin: 1rem 0;
  width: 50vw;
  &:hover {
    background: $mySeaBlueDark;
  }
}

//tablet
@media only screen and (min-width: 750px) {
  .results__title {
    font-size: 3rem;
  }
  .results__info {
    font-size: 3rem;
  }
  .results__button {
    @include button($mySeaBlue, 2.5rem);
    width: auto;
  }
}

//desktop
@media only screen and (min-width: 1000px) {
  .results__button {
    width: 10vw;
  }
}
