.results__wrapper {
  display: flex;
  flex-grow: 1;
  text-align: center;
  flex-direction: column;
}

.results__title {
  margin-top: 3rem;
}

.results__info {
  font-size: 2rem;
}
.results__button {
  @include button($mySeaBlue, 1.3rem);
  margin: 1rem 0;
  width: 10vw;
  &:hover {
    background: $mySeaBlueDark;
  }
}
