.textTile__wrapper {
  flex-basis: calc(100% / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.textTile__content {
  width: 85%;
  background: #4a98f8;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  padding: 1rem 1rem;
  cursor: pointer;
  position: relative;
  height: 85%;
}

.textTile__title {
  font-size: 1rem;
  color: white;
  user-select: none;
}

.textTile__level {
  font-size: 0.9rem;
  color: gold;
  font-weight: bold;
  user-select: none;
}

.textTile__completed {
  font-style: italic;
}

.textTile__edit-buttons-wrapper {
  width: 100%;
  height: 20%;
}

.textTile__edit-buttons {
  display: flex;
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.textTile__delete,
.textTile__edit {
  font-size: 1.2rem;
  color: black;
}

.textTile__added {
  font-size: 0.9rem;
}

//tablet
@media only screen and (min-width: 750px) {
  .textTile__title {
    font-size: 2rem;
  }
  .textTile__level {
    font-size: 1.5rem;
  }
  .textTile__added {
    font-size: 1.8rem;
  }
  .textTile__delete,
  .textTile__edit {
    font-size: 2rem;
  }
}

//desktop
@media only screen and (min-width: 1000px) {
  .textTile__wrapper {
    flex-basis: calc(100% / 5);
    height: 35vh;
  }
  .textTile__content {
    width: 80%;
    &:hover {
      background: #4084d8;
      .textTile__delete,
      .textTile__edit {
        color: black;
      }
    }
  }

  .textTile__delete-wrapper {
    &:hover {
      .textTile__delete {
        color: red;
      }
    }
  }
  .textTile__edit-wrapper {
    &:hover {
      .textTile__edit {
        color: gold;
      }
    }
  }
  .textTile__delete,
  .textTile__edit {
    color: #4a98f8;
    font-size: 1.5rem;
  }
  .textTile__level {
    font-size: 1.1rem;
  }
  .textTile__title {
    font-size: 1.3rem;
  }
  .textTile__edit-buttons {
    width: 60%;
  }
  .textTile__added {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
}
