.texts__wrapper {
  flex-grow: 1;
}

.texts__filter {
  display: flex;
  margin-top: 0.5rem;
  flex-direction: column;
}

.texts__filter-label {
  font-weight: bold;
  padding: 0.2rem 0;
  font-size: 1.5rem;
}

.texts__texts {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.texts__level-filters, .texts__topic-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.texts__topic-list, .texts__level-list {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}

.texts__filter-item {
  margin: 0.2rem 0.5rem;
  background: green;
  border-radius: 2rem;
  color: white;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  user-select: none;
}

.texts__filter-item--selected {
  background: red;
}

@media only screen and (min-width: 1000px) {
  .texts__filter-label {
    font-size: 1.5rem;
  }
  .texts__filter-item {
    font-size: 1.6rem;
  }
  .texts__texts {
    display: flex;
    flex-wrap: wrap;
    height: 70%;
  }
  .texts__filter-item {
    font-size: 1.3rem;
  }
  .texts__filter {
    justify-content: space-around;
  }
}
