.uploadText__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  label {
    margin: 1rem 0 0.5rem 0;
    font-size: 1.2rem;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.uploadText__text-input {
  width: 80%;
  flex-grow: 1;
  border: 1px solid #333;
  padding: 1rem;
  border-radius: 6px;
  font-size: 1rem;
}

.uploadText__text-content {
  width: 100%;
  text-align: center;
  display: flex;
  margin-left: 0.5rem;
  div {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    span {
      user-select: none;
    }
  }
}

.uploadText__buttons {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.uploadText__save,
.uploadText__cancel {
  @include button($mySeaBlue, 1.3rem);
  margin: 1rem 0 5rem 0;
  &:hover {
    background: $mySeaBlueDark;
  }
  width: 10vw;
}

.uploadText__word {
  margin: 0 0 0 1em;
  &:hover {
    background: yellow;
    cursor: pointer;
  }
}

.uploadText__punctuation {
  margin: 0;
}

.uploadText__word--selected {
  background: yellow;
}

.matchDefinitions__button.matchDefinitions__unanswered {
  background: #eee;
}

.uploadText__wrapper {
  form {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .uploadText__go,
    .uploadText__back {
      @include button($mySeaBlue, 1.3rem);
      margin: 1rem 0;
      &:hover {
        background: $mySeaBlueDark;
      }
      width: 50vw;
    }
  }
}

.uploadText__title-input {
  border: 1px solid #333;
  border-radius: 6px;
  padding: 0.3rem;
  font-size: 1rem;
}

.uploadText__text-content {
  button {
    @include button($mySeaBlue, 1.3rem);
    margin: 1rem 0;
    &:hover {
      background: $mySeaBlueDark;
    }
    width: 50vw;
  }
}

.uploadText__text-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
}

.uploadText__instruction {
  text-align: center;
  font-size: 1rem;
}

.uploadText__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadText__option-buttons {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    margin-left: 2rem;
    margin-right: 2rem;
    @include button($mySeaBlue, 1.3rem);
    margin: 1rem 0;
    &:hover {
      background: $mySeaBlueDark;
    }
    width: 50vw;
  }
}

.uploadText__submit-buttons {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  .uploadText__option-buttons {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    button {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    width: 40vw;
  }
  .uploadText__submit-buttons {
    width: 30%;
    justify-content: space-around;
  }
  .uploadText__wrapper {
    form {
      .uploadText__go,
      .uploadText__back {
        width: 10vw;
      }
    }
  }
  .uploadText__instruction {
    font-size: 1.2rem;
  }
  .uploadText__text-content {
    width: 60%;
  }
}
