.uploadText__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  label {
    margin: 1rem 0;
    font-size: 1.5rem;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.uploadText__text-content {
  width: 60%;
  margin: 3rem auto;
  text-align: center;
  div {
    margin-top: 2rem;
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    span {
      user-select: none;
    }
  }
}

.uploadText__save {
  @include button($mySeaBlue, 1.3rem);
  margin: 1rem 0;
  &:hover {
    background: $mySeaBlueDark;
  }
  width: 50vw;
}

.uploadText__word {
  margin: 0 0 0 1em;
  &:hover {
    background: yellow;
    cursor: pointer;
  }
}

.uploadText__punctuation {
  margin: 0;
}

.uploadText__word--selected {
  background: yellow;
}

.uploadText__wrapper {
  form {
    .uploadText__go,
    .uploadText__back {
      @include button($mySeaBlue, 1.3rem);
      margin: 1rem 0;
      &:hover {
        background: $mySeaBlueDark;
      }
      width: 50vw;
    }
  }
}

.uploadText__title-input {
  margin-bottom: 1rem;
}

.uploadText__text-content {
  button {
    @include button($mySeaBlue, 1.3rem);
    margin: 1rem 0;
    &:hover {
      background: $mySeaBlueDark;
    }
    width: 50vw;
  }
}

.uploadText__text-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
}

.uploadText__instruction {
  text-align: center;
  font-size: 1.2rem;
}

.uploadText__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadText__option-buttons {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    margin-left: 2rem;
    margin-right: 2rem;
    @include button($mySeaBlue, 1.3rem);
    margin: 1rem 0;
    &:hover {
      background: $mySeaBlueDark;
    }
    width: 50vw;
  }
}

@media only screen and (min-width: 1000px) {
  .uploadText__option-buttons {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    button {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    width: 40vw;
  }
  .uploadText__wrapper {
    form {
      .uploadText__go,
      .uploadText__back {
        width: 10vw;
      }
    }
  }
  .uploadText__save {
    width: 10vw;
  }
}
